@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}
html{
    font-size: 10px;
    zoom: 1;
}
body{
    overflow-x: hidden;
}
.margin-left-20{
    margin-left: 2rem;
}
.bgDiv{
    height: 300rem;
    /* width: 152rem; */
    background-color: #dbdbe7;
}
.topDiv{
    height: 5rem;
    background-color: #dbdbe7;
}
.purpleMiddle{
    margin-top: -79rem;
    height: 50rem;
    background-image: linear-gradient(rgba(98, 73, 229,0.9),rgba(98, 73, 229,0.9)), url(images/fort.jpg) ;
}
.menu-icon{
    display: none;
}
.button{
    min-width: 10rem;
    background-image: linear-gradient(to right, #6249e5 , #3e23fc);
    border: none;
    color: white;
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5rem;
}
.buttonTop{
    margin-left: 75%;
    margin-top: 1rem;
}
.button i{
    margin-left: 1rem;
}
.banner{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    height: 4.5rem;
    width: 100rem;
    margin-top: 1rem;
    background-color: white;
    border-radius: .3rem;
}
.navbar ul{
    width: 100rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar li{
    float: left;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}
.playstationImg{
    margin-top: 1rem;
    height: 50rem;
    width: 100rem;
    box-shadow: -.2rem .5rem 2rem rgb(73, 73, 73);
    background-image: linear-gradient(to bottom right, #0085d6, #003387);
}
.joinCard{
    display: flex;
    margin-top: 1rem;
    height: 25rem;
    width: 100rem;
    background-color: white;
}
.joinLeft{
    display: flex;
    justify-content: center;
    width: 20%;
    background-color: #4a28c7;
}
.joinRight{
    display: flex;
    justify-content: center;
    width: 80%;
}
.treasureImg{
    margin-top: 6rem;
    height: 10rem;
    width: 15rem;
}
.loginWith{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 1.4rem;
}
.joinFree{
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
}
.join-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: 600;
}
.join-for-free{
    font-size: 2.5rem;
}
.already-have{
    font-size: 1.4rem;
}
.enter-details{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: darkgray;
    font-weight: 500;
}
.enter-details input{
    border: 0;
    border-bottom: .2rem solid darkgray;
    outline: 0;
    width: 15rem;
    color: black;
    font-weight: 600;
}
.enter-details input::placeholder{
    color: #000;
}
.vertical-divider {
    margin-top: 5rem;
	position: absolute;
	display: table;
	text-align: center;
	margin-left: 32rem;
	height: 15rem;
	width: .2rem;
}	
	.center-element {
		position: relative;
		display: table-cell;
		vertical-align: middle;
    }	
		.center-element::before, .center-element::after {
			position: absolute;
			content: "";
			width: .1rem;
			left: 50%;
			border-left: .2rem solid darkgray;
		}
		.center-element::before {
			bottom: 50%;
			top: 0;
			margin-bottom: 2rem;
		}
		.center-element::after {
			top: 50%;
			bottom: 0;
			margin-top: 2rem;
		}

.socialButtons{
    background-color: white;
    border-radius: 5rem;
    padding: 1rem;
    font-weight: 500;
    margin-right: 5rem;
}
.facebook{
    display: flex;
    justify-content: space-evenly;
    border: solid .2rem blue;
}
.google{
    display: flex;
    justify-content: space-evenly;
    border: solid .2rem yellow;
}
.agreeTerms{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.2rem;
    font-weight: 600;
}


/* right side part */

.get-free-container{
    display: flex;
    justify-content: center;
}
.get-free-section{
    width: 100rem;
    display: flex;
    justify-content: space-between;
    margin-top: 35rem;
}
.get-free-left{
    width: 60%;
    font-size: 1.8rem;
    font-weight: 600;
}
.get-free-left img{
    border-radius: .5rem;
}
.get-free-img{
    margin-bottom: 5rem;
}
.get-free-left p{
    margin-top: .5rem;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 5rem;
}
.get-free-right{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
    height: 93%;
    background-color: rgb(250, 250, 250);
    font-weight: 700;
}
.get-free-right p{
    font-size: 1.2rem;
    font-weight: normal;
    color: darkgray;
}
.get-free-top{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1rem;
    height: 40%;
    box-shadow: .2rem .2rem .3rem rgb(227, 227, 227);
    border-radius: 1rem 1rem .2rem .2rem;
}
.get-free-left{
    margin-bottom: 2rem;
}
.get-free-top img{
    border-radius: 1rem 1rem 0rem 0rem;
}
.game-img{
    width: 100%;
    height: 13.5rem;
}
.get-free-bottom{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-around;
    margin-top: 2rem;
    height: 40%;
    box-shadow: .2rem .2rem .3rem rgb(227, 227, 227);
    border-radius: 1rem 1rem .2rem .2rem;
}
.get-free-bottom img{
    border-radius: 1rem 1rem 0rem 0rem;
}
.steam-img{
    margin-top: -3rem;
    margin-left: 1rem;
    margin-right: 15rem;
    padding: 1rem;
    height: 3rem;
    background-color: white;
    border-radius: .5rem;
}

.badge{
    margin-top: 1rem;
    background-color: #d7cfff;
    padding: .2rem .8rem;
    border-radius: 2rem;
    width: max-content;
    font-size: 1rem;
    color: #635f75;
    font-weight: normal;
}
.get-free-bottom-text{
    margin-top: 1rem;
    color: #ffa02b;
}
.get-free-bottom-text p{
    margin-bottom: -2.5rem;
    
}

.shops-container{
    /* display: flex;
    justify-content: center; */
}
.shops-section{
    width: 100rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.shops-section p{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}
.card-images{   
    display: grid;
    max-width: 100rem;
    margin-top: 3rem;
    grid-template-columns: auto auto auto auto auto auto;
}
.card-images img{
    margin-right: 1rem;
    border-radius: .8rem;
    height: 22.5rem;
}
.load-more{
    display: block;
    margin: auto;
    margin-top: 4rem;
    width: 20rem;
    border: .2rem solid #6249e5;
    color: #6249e5;
}
.load-more i{
    margin-left: 1rem;
}
.offers-card-images{
    display: grid;
    max-width: 100rem;
    margin-top: 3rem;
    grid-template-columns: auto auto auto auto auto auto;
}
.offers-card-images img{
    border-radius: .8rem;
    height: 19.5rem;
}
.image-card{
    width: 13.5rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: .8rem;
    font-size: .12rem;
}
.image-card :hover{
    color: #ffa02b  ;
}
.card-button{
    margin-top: .5rem;
    display: flex;
    width: 13.5rem;
    justify-content: space-between;
    background-color: white;
    border: 0rem;
}
.active{
    color: #ffa02b;
}
.inactive{
    color: darkgray;
}
.coupons-section{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    display: block;
    width: 100rem;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1rem rgb(185, 185, 185);
}
.coupons-section table{
    width: 100rem;
    width: 100rem;
    /* border-collapse: separate; */
    border-collapse: collapse;
    border-spacing: 0 1em;
}
.coupons-section td{
    text-align: left;
}
.coupons-section th{
    text-align: left;
    color: rgb(149, 149, 149);
    font-weight: 500;
}
.coupons-section tr{
    border: .2rem solid #e2e1e6;
    border-radius: 1rem;
}
.image-td{
    margin-top: .5rem;    
    margin-left: .7rem;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
}
.name-table{
    color: #6150dd;
}
.copy-button{
    background-color: #cec9e9;
    border: 0rem;
    border-radius: 2rem;
    padding: .5rem 2rem;
    color: #6150dd; 
    font-weight: 500;
}
.social-but-table{
    margin-top: .7rem;
    background: 0rem;
    border: 0rem;
}
.nav-mobile{
    display: none;
}
.cross{
    display: none;
}
@media screen and (max-width: 450px) {
    .bgDiv{
        width: 42rem;
        height: 480rem;
    }
    .nav-mobile{
        position: fixed;
        background-color: rgba(0, 0, 0, .7);
        justify-content: center;
        align-items: center;
        color: rgb(190, 204, 255); /* beccff */
        width: 100%;
        height: 95rem;
        font-size: 4rem;
        font-weight: 600;
    }
    .nav-mobile li{
        list-style-type: none;
    }
    .cross{
        height: 5rem;
        position: fixed;
        margin: 1rem;
        z-index: 5;
    }
    .topDiv{
        display: flex;
        width: 35rem;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .menu-icon{
        margin-top: 1rem;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .buttonTop{
        margin-left: 0rem; 
    }
    .navbar{
        display: none;
        width: 35rem;
    }
    .playstationImg{
        margin: 2rem;
        width: 35rem;
    }
    .joinCard{
        margin-top: 2rem;
        width: 35rem;
        display: grid;
        height: max-content;
    }
    .joinRight{
        width: 100%;
        display: grid;
    }
    .joinFree{
        width: 100%;
        margin: auto;
        padding: 2rem;
    }
    .enter-details{
        margin-top: 1rem;
        display: block;
    }
    .margin-left-20{
        margin-left: 0rem;
        margin-top: 1rem; 
    }
    .inputs{
        margin-left: 1rem;
    }
    .checkbox{
        display: inline;
    }
    .agreeTerms{
        margin-top: 1.5rem;
    }
    .facebook{
        margin: auto;
    }
    .google{
        margin: auto;
    }
    .join-top{
        display: block;
    }
    .joinLeft{
        width: 100%;
    }
    .treasureImg{
        margin: 5rem;
    }
    .agreeTerms{
        display: block;
    }
    .loginWith{
        flex-direction: row;
        margin: 1rem 0;
        padding: 1rem;
        width: 98%;
        align-items: center;
    }
    .get-free-section{
        width: 35rem;
        display: grid;
    }
    .get-free-left{
        width: 35rem;
        text-align: left;
    }
    .get-free-left img{
        height: 14rem;
    }
    .get-free-img{
        height: 7.8rem !important;
    }
    .get-free-right{
        width: 75%;
    }
    .shops-section{
        width: 35rem;
        display: grid;
    }
    .card-images{
        grid-template-columns: auto auto;
        row-gap: 2rem;
        column-gap: auto;
    }
    .offers-card-images{
        grid-template-columns: auto auto;
        row-gap: 2rem;
    }
    .vertical-divider{
        /* display: none; */
        transform: rotatez(90deg);
        margin-left: 17rem;
        margin-top: 20.2rem;
        padding: auto;
    }
    .center-element p{
        transform: rotateZ(270deg);
    }
    .coupons-section table{
        width: 36rem;
    }
    .coupons-section{
        width: 36rem;
    }
    th:nth-child(3), th:nth-child(5) {
        display: none
      }
    td:nth-child(3), td:nth-child(5) {
        display: none
      }
    td:nth-child(4){
        padding-right: 1rem;
    }
    
}